

@media only screen and (max-width: 1024px){
    .block-left{
        width:100%;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
    }
    .formright{
        width:100%;
        margin: 0px;
    }
    .aye{
        padding-left:20px;
        padding-right:20px;
    }
    .foot{
        font-size:18px;
    }
    .foot_r{
        font-size:18px;
    }
}



@media only screen and (max-width: 768px){
    .block-left{
        width:100%;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
    }
    .formright{
        width:100%;
        margin: 0px;

    }
    .log-pass label{
        display: flex;
        flex-direction: column;
    }
    .infori{
        height: 500px;
    }
}

@media only screen and (max-width: 480px){
    .phot{
        width: 40px;
        height: 40px;
    }
    .poplsteam{
        font-size: 25px;
    }
    .log-pass label {
        padding: 10px;
        padding-left: 20px;
        padding-right:20px;
    }
    .vopr{
        padding-left:20px;
    }
    .spam1 {
        font-size: 26px;
    }
    .head-faq{
        font-size:22px;
    }
}